<div class="pure-g contained">

    <div class="pure-u-1-1 title-box">

        <form class="form-signin" role="form">
            <input ng-model="user.email" type="email" class="form-control" placeholder="Email address" required="" autofocus="">
            <input ng-model="user.password" type="password" class="form-control" placeholder="Password" required="">
            <label class="checkbox">
                <a href="#"> Sign Up</a>
            </label>
<!--             <button ladda-loading="login.loading" data-style="expand-right"  type="button" ng-click="SignIn($event,user)" class="btn btn-lg ladda-button"><span class="ladda-label">Sign In</span></button>-->
            <button  type="button" ng-click="SignIn($event, user)" class="btn btn-lg btn-primary btn-block">SignIn</button>
        </form>

    </div>



</div>