<!-- <div class="heading-nasa">
NASA FRONTIER DEVELOPMENT LAB IS AN <br>
 APPLIED RESEARCH ACCELERATOR DESIGNED <br>
TO ENHANCE NASA’S CAPABILITY SET BY MATCHING<br>
EMERGING TALENT FROM ACADEMIA WITH PEERS<br>
AND TECHNOLOGIES WITHIN THE PRIVATE SECTOR.<br>
<br>

6 WEEKS AT NASA AMES & SETI
<br>

<br>
KICK OFF MONDAY 27TH JUNE
<br>
END FRIDAY 5TH AUGUST
</div> -->
<div class="pure-g contained">
<div class="pure-u-1-2">
  <h2>welcome to fdl</h2>
  <p>
    NASA Ames has a great tradition of summer programs - some of which, such as
  the Space Settlement studies led by Gerard O’neill, have inspired a generation of
  rocketeers and scientists to imagine the impossible.
  <br>
  <br>
  Our Summer Program aims to
  recreate this spirit of possibility and by partnering with NVIDIA, Autodesk and SETI
  we’re also tapping into that indomitable energy of Silicon Valley that can make these
  imaginings real.
  </p>



</div>


<div class="pure-u-1-2">
  <div class="heading-nasa">

    6 WEEKS AT
    <br>
    NASA AMES & SETI

    <br>
    <br>
    27TH JUNE
    <br>
    -
    <br>
    5TH AUGUST
  </div>


</div>

</div>
<div class="banner spacebg1">
  <h1>
    NASA FRONTIER DEVELOPMENT LAB IS AN <br>
    APPLIED RESEARCH ACCELERATOR DESIGNED TO<br>
    ENHANCE NASA’S CAPABILITY SET BY MATCHING<br>
    EMERGING TALENT FROM ACADEMIA WITH PEERS<br>
    AND TECHNOLOGIES WITHIN THE PRIVATE SECTOR.
</h1>
<span class="under">
  Summer 2016 at NASA Ames & SETI
</span>
</div>
