<!-- <div class="heading-nasa">
NASA FRONTIER DEVELOPMENT LAB IS AN <br>
 APPLIED RESEARCH ACCELERATOR DESIGNED <br>
TO ENHANCE NASA’S CAPABILITY SET BY MATCHING<br>
EMERGING TALENT FROM ACADEMIA WITH PEERS<br>
AND TECHNOLOGIES WITHIN THE PRIVATE SECTOR.<br>
<br>

6 WEEKS AT NASA AMES & SETI
<br>

<br>
KICK OFF MONDAY 27TH JUNE
<br>
END FRIDAY 5TH AUGUST
</div> -->
<div class="pure-g contained">
<div class="pure-u-1-1 pure-u-md-1-2">
  <h2>welcome to fdl</h2>
  <p>
    NASA Ames has a great tradition of summer programs - some of which, such as
  the Space Settlement studies led by Gerard O’neill, have inspired a generation of
  rocketeers and scientists to imagine the impossible.
  <br>
  <br>
  Our Summer Program aims to
  recreate this spirit of possibility and by partnering with NVIDIA, Autodesk and SETI
  we’re also tapping into that indomitable energy of Silicon Valley that can make these
  imaginings real.
  </p>



</div>


<div class="pure-u-1-1 pure-u-md-1-2">
  <div class="heading-nasa">

    6 WEEKS AT
    <br>
    NASA AMES & SETI

    <br>
    <br>
    27TH JUNE - 5TH AUGUST
  
    
  </div>


</div>

</div>
<div class="banner spacebg1">
  <h1>
    NASA FRONTIER DEVELOPMENT LAB IS AN <br>
    APPLIED RESEARCH ACCELERATOR DESIGNED TO<br>
    ENHANCE NASA’S CAPABILITY SET BY MATCHING<br>
    EMERGING TALENT FROM ACADEMIA WITH PEERS<br>
    AND TECHNOLOGIES WITHIN THE PRIVATE SECTOR.
</h1>
<span class="under">
  Summer 2016 at NASA Ames & SETI
</span>
</div>

<div class="pure-g contained">
  <div class="pure-u-md-2-5 pure-u-1-1">

    <div class="heading-nasa">

      NEW TOOLS
      <br>
      NEW APPROACHES

      <br>
      NEW DISCOVERIES

    </div>

    <img class="pure-img" src="images/badge.png" />

  </div>
  <div class="pure-u-md-3-5 pure-u-1-1">
    <h2>The challenges</h2>
    <p>In 2013, NASA embarked on the &ldquo;Asteroid Grand Challenge&rdquo; (AGC), a White House supported initiative to supplement the NEOO Program, with a mission:
<br>
<br>
      &ldquo;Find all asteroid threats to human populations
  <!-- <br> -->
 and to know what to do about them.&rdquo;
 <br>
 <br>
 There remain a number of unresolved gaps in this challenge, both in terms of discovery and, characterization and eventual mitigation strategies should a potentially hazardous asteroid (PHA) be discovered that presents a threat to our planet.
 <br>
 <br>
  The &ldquo;Asteroid Challenge Lab&rdquo; has been a vehicle to support this effort by leveraging non-traditional and multi-disciplinary collaborations through a variety of partnerships with industry, academia, and citizen scientists, with the goal of accelerating
  the work of the NEOO Program. By bringing new approaches in Computer Science - such as deep learning and machine vision and new skills to tackle specific parts of the problem, solutions may be revealed that, combined with existing
  processes, significantly benefit the community as a whole.
  <br>
  <br>
  As such, NASA Frontier Development Lab brings post-grad researchers, with significant backing from industry and bolstered by feedback loops with experts from Planetary Science and data science, to focus their talents on tightly defined questions
  surrounding asteroid detection, characterization and mitigation issues. The ambition is to also to provide participants with a meaningful research opportunity, as well as support the work of the planetary defense community in this focused
  research activity.
</p>
  </div>
</div>
