
<div class="pure-g contained">

  <div class="pure-u-1-1 title-box">

      data resources

  </div>



              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://www.minorplanetcenter.net/iau/lists/CloseApp.html">A list of close approaches to the earth </a>
                  <br><small>PHA close approaches to the earth through the end of the 21st century</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://ssd.jpl.nasa.gov/sbdb.cgi">The JPL Small-Body Database</a>
                  <br><small>Orbital Elements, Orbit Diagrams, Physical Parameters and Discovery Circumstances</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="https://data.nasa.gov/Space-Science/Fireball-And-Bolide-Reports/mc52-syum">Fireball And Bolide Reports (1)</a>
                  <br><small>NASA</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://minorplanetcenter.net/mpcorb_extended.json.gz">Fireball And Bolide Reports (1)</a>
                  <br><small>NASA</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://neo.jpl.nasa.gov/fireball">Fireball And Bolide Reports (2)</a>
                  <br><small>NASA JPL</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="https://data.nasa.gov/Space-Science/Meteorite-Landings/gh4g-9sfh">MPC - JSON Asteroid list</a>
                  <br><small>JSON formatted file with the orbital parameters and quantities for all the asteroids in the MPC database.</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://neo.jpl.nasa.gov/programs/neowise.html">NEOWISE NEA/COMET Discovery</a>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://curator.jsc.nasa.gov/antmet/hed/hed_compendium.cfm">HED Compendium</a>
                  <br><small>Meteorites from VESTA</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://lunar.gsfc.nasa.gov/">The Lunar Reconnaissance Orbiter</a>
                  <br><small>Moon craters</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://www.minorplanetcenter.net/iau/MPCORB.html">Minor Planet Orbits</a>
                  <br><small>Orbital elements of minor planets, published in the MP Circulars, the MP Orbit Supplement and the MP Electronic Circulars.</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://neo.jpl.nasa.gov/orbits/">PHA Orbits</a>
                  <br><small>Potentially Hazardous Asteroids</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="https://data.nasa.gov/Space-Science/Near-Earth-Comets-Orbital-Elements/b67r-rgxc">Near-Earth Comets - Orbital Elements</a>
                  <br><small>Heliocentric Comets</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://www.minorplanetcenter.net">Minor Planet Center</a>
                  <br><small>Repository of all located NEOs and NEAs</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://minorplanetcenter.net/light_curve">Light Curve Database </a>
                  <br><small>MPC</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://space.frieger.com/asteroids/">3D models of asteroids</a>
                  <br><small>From radar and lightcurve inversion</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://minorplanetcenter.net/web_service">MPC Web service</a>
                  <br><small>Orbits and some physical parameters.</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://www.minorplanetcenter.net/iau/MPCORB/PHA.txt ">Potentially Hazardous Asteroids</a>
                  <br><small>MPC</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://www.minorplanetcenter.net/iau/MPC_Documentation.html">MPC Documentation</a>
                  <br><small>MPC</small>
              </div>


              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://www.minorplanetcenter.net/iau/lists/LastUnusual.html">Unusual Minor Planets</a>
                  <br><small>Dates of last observation of Unusual Minor Planets</small>
              </div>

              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://arxiv.org/pdf/1503.07077v1.pdf">Rotation-invariant CNNs for galaxy morphology prediction</a>
                  <br><small>Sander Dieleman</small>
              </div>
              <div class="pure-u-md-1-2 pure-u-1-1 resource-card"><a href="http://arxiv.org/pdf/1602.02660v1.pdf">Exploiting Cyclic Symmetry in CNNs</a>
                  <br><small>Sander Dieleman</small>
              </div>









</div>
