

<div class="pure-g contained">

  <div class="pure-u-1-1 title-box">

      meet the participants

  </div>
  <div class="pure-u-1-1">
  <p class="teams-intro">These are the teams of Data and Planetary scientists that will be participating
    <br> in this year's Frontier Development Lab.
  </p>
</div>

  <div class="team pure-g">
  <div class="pure-u-8-24 team-plate new-tool-border">
 
    <span class="over">
      team
    </span>

    <h1>new tools</h1>

<div class="" ng-repeat="newTool in newTools | filter: {featured: true}">
    <img class="pure-img team-img-feat" ng-src="images/teams/{{newTool.image}}"/>

    <p class="team-name-feat">{{newTool.name}}</p>
    <p class="team-title-feat ">{{newTool.title}}</p>
    <p class="new-tool-mentor-email"><a href=""></a></p>
    <p class="team-bio-feat" style="white-space:pre-wrap;">"{{newTool.bio}}"</p>
</div>

  </div>
  <div class="pure-u-16-24">


    <div class="team-card pure-u-1-2"  ng-click="clickBio(newTool)"  ng-repeat="newTool in newTools">



        <img class="pure-img team-img" ng-src="images/teams/{{newTool.image}}"/>

        <p class="team-name">{{newTool.name}}</p>
        <p class="team-title">{{newTool.title}}</p>
        <p class="new-tool-mentor-email " ng-if="newTool.featured"><a href=""></a></p>
        <p class="team-email " ng-if="!newTool.featured"><a href=""></a></p>
        <p class="team-part-bio"  ng-click="clickBio(newTool)" >"{{ newTool.bio | limitTo: 40 }}{{newTool.bio.length > 40 ? '...' : ''}}"</p>


        <!-- <p class="bio-button" ng-click="clickBio(newTool)" ng-show="newTool.bio.length > 40"> FULL BIO</p> -->

      </div>


  </div>
</div>


<div class="team pure-g">
  <div class="pure-u-8-24 team-plate new-approach-border">
    <span class="over">
      team
    </span>
    <h1>new approaches</h1>
    <div class="" ng-repeat="newApproach in newApproaches | filter: {featured: true}">
    <img class="pure-img team-img-feat" ng-src="images/teams/{{newApproach.image}}"/>

    <p class="team-name-feat">{{newApproach.name}}</p>
    <p class="team-title-feat ">{{newApproach.title}}</p>
    <p class="new-approach-mentor-email "><a href=""></a></p>
    <p class="team-bio-feat" style="white-space:pre-wrap;" >"{{newApproach.bio}}"</p>
</div>

  </div>
  <div class="pure-u-16-24">


    <div class="pure-u-1-2 team-card" ng-click="clickBio(newApproach)"  ng-repeat="newApproach in newApproaches">


        <img class="pure-img team-img" ng-src="images/teams/{{newApproach.image}}"/>
      <!-- </div> -->
      <!-- <div class="pure-u-4-5"> -->
        <p class="team-name">{{newApproach.name}}</p>
        <p class="team-title">{{newApproach.title}}</p>
        <p class="new-approach-mentor-email " ng-if="newApproach.featured"><a href=""></a></p>
        <p class="team-email " ng-if="!newApproach.featured"><a href=""></a></p>
        <p class="team-part-bio"  ng-click="clickBio(newApproach)">"{{ newApproach.bio | limitTo: 40 }}{{newApproach.bio.length > 40 ? '...' : ''}}"</p>



      <!-- </div> -->

  </div>


  </div>
</div>



<div class="team pure-g">
  <div class="pure-u-8-24 team-plate new-discovery-border">
    <span class="over">
      team
    </span>
    <h1>new discoveries</h1>
    <div class="" ng-repeat="newDiscovery in newDiscoveries | filter: {featured: true}">
    <img class="pure-img team-img-feat" ng-src="images/teams/{{newDiscovery.image}}"/>

    <p class="team-name-feat">{{newDiscovery.name}}</p>
    <p class="team-title-feat ">{{newDiscovery.title}}</p>
    <p class="new-discovery-mentor-email "><a href=""></a></p>
    <p class="team-bio-feat" style="white-space:pre-wrap;">"{{newDiscovery.bio}}"</p>
</div>

  </div>
  <div class="pure-u-16-24">


    <div class="pure-u-1-2 team-card" ng-click="clickBio(newDiscovery)" ng-repeat="newDiscovery in newDiscoveries">

        <img class="pure-img team-img" ng-src="images/teams/{{newDiscovery.image}}"/>
      <!-- </div> -->
      <!-- <div class="pure-u-4-5"> -->
        <p class="team-name">{{newDiscovery.name}}</p>
        <p class="team-title">{{newDiscovery.title}}</p>
        <p class="new-discovery-mentor-email " ng-if="newDiscovery.featured"><a href=""></a></p>
        <p class="team-email " ng-if="!newDiscovery.featured"><a href=""></a></p>
        <p class="team-part-bio"  ng-click="clickBio(newDiscovery)" ng-hide="newDiscovery.showbio">"{{ newDiscovery.bio | limitTo: 40 }}{{newDiscovery.bio.length > 40 ? '...' : ''}}"</p>


      <!-- </div> -->

  </div>


  </div>
</div>

</div>
