

<div class="pure-g contained">
  <div class="pure-u-1-1">
  <p class="teams-intro">These are the teams of Data and Planetary scientists that will be participating
    <br> in this year's Frontier Development Lab.
  </p>
</div>

  <div class="team pure-g">
  <div class="pure-u-8-24 team-plate new-tool-border">
    <span class="over">
      team
    </span>
    <h1>new tools</h1>

  </div>
  <div class="pure-u-16-24">


    <div class="pure-u-1-2 team-card" ng-repeat="newTool in newTools">
      <!-- <div class="pure-u-1-5"> -->
        <img class="pure-img team-img" src="images/people/jamesProfile.png"/>
      <!-- </div> -->
      <!-- <div class="pure-u-4-5"> -->
        <p class="team-name">{{newTool.name}}</p>
        <p class="team-title">{{newTool.title}}</p>
        <p class="team-email"><a href="mailto:{{newTool.email}}">{{newTool.email}}</a></p>
      <!-- </div> -->
    </div>


  </div>
</div>


<div class="team pure-g">
  <div class="pure-u-8-24 team-plate new-approach-border">
    <span class="over">
      team
    </span>
    <h1>new approaches</h1>

  </div>
  <div class="pure-u-16-24">


    <div class="pure-u-1-2 team-card" ng-repeat="newApproach in newApproaches">
      <!-- <div class="pure-u-1-5"> -->
        <img class="pure-img team-img" src="images/people/jamesProfile.png"/>
      <!-- </div> -->
      <!-- <div class="pure-u-4-5"> -->
        <p class="team-name">{{newApproach.name}}</p>
        <p class="team-title">{{newApproach.title}}</p>
        <p class="team-email"><a href="mailto:{{newApproach.email}}">{{newApproach.email}}</a></p>
      <!-- </div> -->
    </div>


  </div>
</div>



<div class="team pure-g">
  <div class="pure-u-8-24 team-plate new-discovery-border">
    <span class="over">
      team
    </span>
    <h1>new discoveries</h1>

  </div>
  <div class="pure-u-16-24">


    <div class="pure-u-1-2 team-card" ng-repeat="newDiscovery in newDiscoveries">
      <!-- <div class="pure-u-1-5"> -->
        <img class="pure-img team-img" src="images/people/jamesProfile.png"/>
      <!-- </div> -->
      <!-- <div class="pure-u-4-5"> -->
        <p class="team-name">{{newDiscovery.name}}</p>
        <p class="team-title">{{newDiscovery.title}}</p>
        <p class="team-email"><a href="mailto:{{newDiscovery.email}}">{{newDiscovery.email}}</a></p>
      <!-- </div> -->
    </div>


  </div>
</div>

</div>
